Source: ros-indigo-ihmc-ros-diagnostics
Section: misc
Priority: extra
Maintainer: Doug Stephen <dstephen@ihmc.us>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin, ros-indigo-geometry-msgs, ros-indigo-ihmc-msgs, ros-indigo-ihmc-ros-common, ros-indigo-std-msgs
Homepage: https://github.com/ihmcrobotics/ihmc_ros_diagnostics
Standards-Version: 3.9.2

Package: ros-indigo-ihmc-ros-diagnostics
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-geometry-msgs, ros-indigo-ihmc-msgs, ros-indigo-ihmc-ros-common, ros-indigo-rospy, ros-indigo-std-msgs
Description: The ihmc_ros_diagnostics package provides a collection of tools for analysing the robot controller.
